
<html>

<head>
    <title>
        COLLEGE : ABOUT
    </title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
       <!--Bootstrap icon-->
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<style>
    .log {
        color: navy;
        text-align: center;
        font-family: cursive;

    }


    .hifi a {
        text-align: center;
        color: aliceblue;
        font-size: 23px;

    }

    .navs a {
        color: white;

        font-weight: bolder;
        font-size: 25px;

    }

    .navs a:hover {
        color:white;
        border-bottom: 3px solid white;

    }

        .block {
            background: grey;

        }


    .narrow {
        background: rgb(4, 4, 80);

        text-align: center;

    }

    .square {
        font-size: 60px;
    }

    .xyz {
        font-size: 60px;
        color: rgb(95, 26, 38);
        font-weight: bolder;
        font-family: fantasy;
        text-align: center;
    }

    .foot li:hover {
        color: skyblue;

    }

    
    .search{
            color:white;
            font-size:22px;
            

        }

    .text {
            font-size: 20px;
            font-weight: bolder;
        }

    .rover li:hover {
        color: skyblue;
    }

    .hash {
        color: white;
    }
</style>

<body>

    <div class="container-fluid">
        <div class="row" style="background: rgb(6, 6, 85);">

            <div class="col-md-8 text-center" >
                <nav>
                    <div class="nav navs  p-3 ">
                        <i class="fa fa-search search mt-3" aria-hidden="true"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  
                        <a href="/home/" class="nav-link">    Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="/about/" class="nav-link">About</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                        <a href="/courses/" class="nav-link">Courses</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="/apply/"class="nav-link">Contact</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="/camp/" class="nav-link">Campus Life</a>
                    </div>
                </nav>
            </div>

            <div class="col-md-4 mt-4">
                <button class="btn btn-success">Accessibility Noticies</button>&nbsp&nbsp
                <a href="/login/"><button class="btn btn-success">Login</button>&nbsp&nbsp</a>
                <a href="/log/"><button class="btn btn-success">Signup</button></a>
                <button class="btn btn-success">Information For  </button>
              
            </div>

        </div>
        
     <br>
        <div class="row mt-5">
            <div class="col-md-6">
                <h1 class="xyz"> Welome to Safari Classes! </h1><br>
                <p>Online studies are designed for students whose scheduling commitments would otherwise make it
                    difficult
                    to enroll in a full-time higher education program. Offered for individual courses, diplomas,
                    associateu2019s degrees and certificate programs, online studies are a valuable option. The
                    resulting
                    qualification a graduate receives after successfully completing.
                    <br>
                    Among the many benefits of an online learning, you’ll find virtual classrooms are great for people
                    who are advancing their education while working. In a traditional classroom, lectures will be
                    scheduled at a specific time of day and your schedule will be formed around the availability of
                    classes. If you’re currently employed and courses aren’t available after your working hours, it can
                    be difficult to juggle a course load in addition to your work duties.
                </p><br>
                <ul type="square">

                    <li> Online Courses with full discount systems.</li>

                    <li> Online Certificates which can be used worldwide.</li>

                    <li> An online leadership development program at Learnum.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="https://www.eschoolnews.com/files/2023/07/arts-education-STEAM.jpeg" height="500px"
                    width="100%">
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                    <img src="https://www.wemakescholars.com/uploads/blog/TopprofessionalITcoursetopursueincollege.jpg"
                        height="300px" width="100%">
                </div>
                <div class="col-md-6">
                    <h1 class="xyz">Skills</h1><br>
                    <h3 style="text-align:center;">Professional Certificate Courses</h3>
                    <ul type="square">
                        <li>Online certificates can be obtained in a range of specialized areas.</li>
                        <li>Online diplomas are awarded for one to two years of study with LMS.</li>
                        <li>Online associate degrees usually take approximately two years then.</li>
                        <li>Online preparatory year programs are an opportunity for students.</li>
                        <li>Online Summer courses are a great way to gain qualifications.</li>
                        <li>Online associate degrees usually take approximately two years then.</li>
                </div>

            </div>

        </div>
        <br><br>

        <br> <br>

        <h1 class="xyz">Certifications</h1><br><br>
        <div class="row mt-20 p-3 ">

            <div class="col-md-4">   
                <div class="col-md-12">
                    <img style="border-bottom: 5px solid  rgb(95, 26, 38) ;border-top: 5px solid  rgb(95, 26, 38) ;border-left: 5px solid  rgb(95, 26, 38) ;border-right: 5px solid  rgb(95, 26, 38) ;"
                        src="https://i.pinimg.com/1200x/34/fb/c6/34fbc629308d187c9a72d4691ea55545.jpg" height="300px"
                        width="100%">

                </div>
            </div>


            <div class="col-md-4">
                <div class="col-md-12">
                    <img style="border-bottom: 5px solid  rgb(95, 26, 38) ;border-top: 5px solid  rgb(95, 26, 38) ;border-left: 5px solid  rgb(95, 26, 38) ;border-right: 5px solid  rgb(95, 26, 38) ;"
                        src="https://i.pinimg.com/736x/20/19/27/201927a1013fb080f3e19dd8b4adbf39.jpg" height="300px"
                        width="100%">
                </div>
            </div>


            <div class="col-md-4">
                <div class="col-md-12">
                    <img style="border-bottom: 5px solid  rgb(95, 26, 38) ;border-top: 5px solid  rgb(95, 26, 38) ;border-left: 5px solid  rgb(95, 26, 38) ;border-right: 5px solid  rgb(95, 26, 38) ;"
                        src="https://www.buydiplomaonline.com/wp-content/uploads/2016/08/style-8.jpg" height="300px"
                        width="100%">
                </div>
            </div>

        </div>
    
    <br><br>

    <br> <br>


    <div class="row  text-light text-center mt-5 p-5  narrow">

        <br><br><br><br><br>
        <div class="row">
            <div class="col-md-6">
                <h1>Sheridan at Glance </h1>
            </div>
            <div class="col-md-6">
                <a href="/apply/" class="nav-link">
                    <button class="btn btn-success ms-5" style="color:white;">Contact for more</button>
                </a>
            </div>
        </div>


        <div class="row ">
            <div class="col-md-3">
                <h1> <i class="fa fa-user-md" aria-hidden="true"></i> 27k+</h1>
                <h4>FULL-TIME STUDENTS</h4>
            </div>

            <div class="col-md-3">
                <h1> <i class="fa fa-book" aria-hidden="true"></i> 140+</h1>
                <h4> PROGRAMS</h4>
            </div>

            <div class="col-md-3">
                <h1> <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    210k+</h1>
                <h4>ALUMNI</h4>
            </div>

            <div class="col-md-3">
                <h1> <i class="fa fa-trophy" aria-hidden="true"></i> 4k+</h1>
                <h4>PART-TIME STUDENTS</h4>
            </div>
        </div>
    </div>
    <br><br>

    <br><br>

    <div class="row mt-20 p-5 ">


        <div class="col-md-6"><div data-aos="flip-left">
            <img style="text-align: center;"
                src="https://www.canamgroup.com/assets/universitygallery/740-9378SheridanCollegeatCCTT-Gallery-1.webp"
                height="380px" width="90%"></div><br><br>
            <h2 class="log">Academics</h2>

            <p>Sheridan offers more than 140 programs across five faculties, including 28 degree programs.
                <br><br>
                We're nationally and internationally recognized for excellence in business, digital media and
                communications, performing arts and
                community service studies.
            </p>
        </div>

        <div class="col-md-6"><div data-aos="flip-right">
            <img style="text-align: center;"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Sheridan_College_Davis_Campus_2021.jpg/1280px-Sheridan_College_Davis_Campus_2021.jpg"
                height="380px" width="90%"></div><br><br>
            <h2 class="log">Campus Location </h2>

            <p>Arts and sports. Night life and nature. Food and fun. Being located across the Greater Toronto Area (GTA)
                means Sheridan students get unlimited access.<br><br>

                Sheridan's campuses are located in three Ontario cities very close to Toronto — come visit us in
                Oakville, Brampton or Mississauga.</p>
        </div>




    </div>
    <br><br>


    <div class="row bg-dark text-light text-center mt-5 p-3">

        <div class="col-md-3">
            <div class="col-md-12">
                <h2>SHERIDAN</h2>
                <p>Through a combination of lectures, readings, discussions, students will gain solid foundation in
                    educational.</p>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <a href="https://www.instagram.com/"  class="nav-link hash "><i class="bi bi-instagram" style="font-size:50px;"></i></a>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-12">
                                <a href="https://www.facebook.com/login/" class="nav-link hash "> <i
                                        class="fa fa-facebook-square square" aria-hidden="true"></i></a>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-12">
                                <a href="https://youtu.be/c4PMYlxT0lY?si=czcI63K_pCxfNmkn"  class="nav-link hash "><i class="bi bi-youtube" style="font-size:50px;"></i>
                                </a>                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" class="nav-link hash " ><i class="bi bi-envelope-arrow-up" style="font-size:50px;"></i></a>
 
                            </div>
                        </div>
                    </div>
             

            </div>
        </div>



        <div class="col-md-3">
            <div class="col-md-12 foot">

                <h2>Useful Links</h2>
                <li>About Sheridan</li>
                <li>Contact</li>
                <li>Help Center</li>
                <li>Refund</li>
                <li>Conditions</li>
                <li>Privacy Policy</li>
            </div>
        </div>


        <div class="col-md-3">
            <div class="col-md-12 rover">
                <h2>Categories</h2>
                <li>Design Skills</li>
                <li>Development</li>
                <li>Marketing</li>
                <li>Finance & Accounting</li>
                <li>IT & Software</li>
                <li>Sales Marketing</li>

            </div>
        </div>



        <div class="col-md-3">
            <div class="col-md-12">
                <h2>Newsletter</h2>
                <p>Sign up for our newsletter and get 34%
                    off your next course.</p>
                <form action="{% url 'subs' %}" method='POST'>
				 {% csrf_token %}
                    <input type="email" id="email" name="email"class="form-control" placeholder="Enter Your Email*" required><br>
                    <button style="text-align:center ;" class="btn btn-danger">Subscribe</button>
                    <br>

                    <input type="checkbox"> I agree to the terms and policies
                </form>
            </div>
        </div>
        <hr>
        <p>Copyright@August2023 All rights reserved by HKB</p>
    </div>
</div>
</body>
<script>
    AOS.init();
  </script>
</html>