<html>

<head>
    <title>COLLEGE : CONTACT</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <!--Bootstrap icon-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .tae {
            color: navy;
            font-family: fantasy;
            text-align: center;
            font-size: 60px;
        }

        .jk {
            color: rgb(63, 140, 170);
            text-align: right;
            font-weight: bolder;
        }

        .XYZ {
            color: rgb(63, 60, 60);
            text-align: left;
        }

        .bg {
            background-image: url(https://www.sheridancollege.ca/-/media/project/sheridan/shared/images/campuses/hmc/mississauga-campus-sheridan-college.jpg?rev=777cae9542f74310b3a95b92afc31da1&w=1024&hash=84FB13E6C8F58ADD257B5A6C7F799C35);
            background-size: cover;
        }

        .box {
            border-bottom: 2px solid skyblue;
            margin-right: 130px;
            color: navy;
            text-align: left;
            font-size: 20px;
        }

        .hola {
            color: white;

            font-family: sans-serif;
        }

        .ball {
            border-bottom: 2px solid skyblue;
            margin-right: 190px;
            color: navy;
            text-align: left;
            font-size: 20px;
        }

        .square {
            font-size: 60px;
        }

        .square {
            font-size: 60px;
        }

        .hash {
            color: white;
        }

        .bad {
            border-bottom: 2px solid skyblue;
            margin-right: 205px;
            color: navy;
            text-align: left;
            font-size: 20px;
        }

        .contact {
            text-align: center;
            color: rgb(7, 7, 63);
            font-family: serif;
            font-weight: bolder;
            font-size: 60px;
        }

        .go {
            text-align: center;
            font-family: cursive;
        }
        .navs a {
        color: white;

        font-weight: bolder;
        font-size: 25px;

    }
    .navs a:hover {
        color:white;
        border-bottom: 3px solid white;

    }
    .navs i{
        color:white;
        font-weight: bolder;
        font-size: 25px;
    }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row" style="background: rgb(6, 6, 85);">

            <div class="col-md-8 text-center" >
                <nav>
                    <div class="nav navs  p-3 ">
                        <i class="fa fa-search search mt-3" aria-hidden="true"></i>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  
                        <a href="/home/" class="nav-link">    Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="/about/" class="nav-link">About</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                        <a href="/courses/" class="nav-link">Courses</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <a href="/apply/"class="nav-link">Contact</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        
                        <a href="/camp/" class="nav-link">Campus Life</a>
                    </div>
                </nav>
            </div>

            <div class="col-md-4 mt-4">
                <a href="/camp/"><button class="btn btn-success">Accessibility Noticies</button></a>&nbsp&nbsp
                <a href="/login/"><button class="btn btn-success">Login</button>&nbsp&nbsp</a>
                <a href="/log/"><button class="btn btn-success">Signup</button></a>
                <button class="btn btn-success">Information For  </button>
                
            </div>

        </div>

    <div class="container-fluid">
        <h1 class="tae">Contact Sheridan
        </h1><br><br>


        <div class="row">

            <div class="col-md-4">
                <h3 class="jk">General Information : </h3>
            </div>
            <div class="col-md-4">
                <h3 class="xyz">905-845-9430</h3>
                <h3 class="box">infosheridan@sheridancollege.ca</h3>
            </div>

            <div class="col-md-4">
                <a href="/about/" class="nav-link">
                    <h3 style="color:navy;text-align:center;font-size: 40px;font-family: cursive;">About Sheridan</h3>
                </a>


            </div>

        </div>

        <br><br>

        <div class="row">

            <div class="col-md-4">
                <h3 class="jk">Admissions : </h3>
            </div>
            <div class="col-md-4">
                <h3 class="xyz">905-845-9430 (Option 4)</h3>
                <h3 class="box">infosheridan@sheridancollege.ca</h3>
            </div>

            <div class="col-md-4 go">
                
                    <button><i class="fa fa-chevron-right" aria-hidden="true"></i> Sheridan at a Glance</button><br><br>
                    <button><i class="fa fa-chevron-right" aria-hidden="true"></i> Campus Location</button>
                

            </div>
        </div>
        <br>

        <div class="row">

            <div class="col-md-4">
                <h3 class="jk"> International Admissions : </h3>
            </div>
            <div class="col-md-4">
                <h3 class="xyz">905-815-4001</h3>
                <h3 class="box">international@sheridancollege.ca</h3>
            </div>

            <div class="col-md-4 go">
            
                    <button><i class="fa fa-chevron-right" aria-hidden="true"></i> Faculties</button><br><br>
                    <button><i class="fa fa-chevron-right" aria-hidden="true"></i> Administration</button>

              
            </div>

        </div><br>


        <div class="row">

            <div class="col-md-4">
                <h3 class="jk"> Financial Aid : </h3>
            </div>
            <div class="col-md-4">
                <h3 class="xyz">905-845-9430 (Option 5)</h3>
                <h3 class="ball">fin.aid@sheridancollege.ca</h3>
            </div>
            <div class="col-md-4 go">
               
                    <button><i class="fa fa-chevron-right" aria-hidden="true"></i> Research &
                        Innovation</button><br><br>
                    <button><i class="fa fa-chevron-right" aria-hidden="true"></i> Newsroom</button>
              
            </div>
        </div><br>
        <div class="row p-3">
            <div class="col-md-12">


                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.6243785429897!2d-79.7413100232774!3d43.655982752250004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b3fbfe8f0ad5b%3A0xcd97e708c1197e9e!2sSheridan%20College%20-%20Davis%20Campus!5e0!3m2!1sen!2sin!4v1691563650593!5m2!1sen!2sin"
                    width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
        </div>
        <br><br>


        <br>

        <div class="row mt-5 p-3 mb-5">
            <div class="col-md-12 bg">
                <h1 class="contact"> Apply Now</h1><br><br>


                <form action="{% url 'apply' %}" method='POST'>
                    {% csrf_token %}

                    <div class="row offset-4 hola">
                        <div class="col-md-3">
                            <lable>Enter Name</lable>
                            <input type="text" required class="form-control" id="name" name="name"><br>
                        </div>
                        <div class="col-md-3">
                            <lable>Enter Father Name</lable>
                            <input type="text" required class="form-control" id="father_name" name="father_name"><br>
                        </div>
                    </div>

                    <div class="row offset-4 hola">
                        <div class="col-md-3">
                            <lable>Enter E-mail</lable>
                            <input type="email" required class="form-control" id="email" name="email"><br>
                        </div>
                        <div class="col-md-3">
                            <lable>Enter Mobile Number</lable>
                            <input type="text" required class="form-control"><br>
                        </div>
                    </div>

                    <div class="row offset-4 hola">
                        <div class="col-md-4">
                            <lable> Gender</lable>&nbsp&nbsp&nbsp&nbsp&nbsp
                            <input type="radio">&nbspMale &nbsp&nbsp
                            <input type="radio">&nbspFemale<br><br>
                        </div>
                    </div>

                    <div class="row offset-4">
                        <div class="col-md-4">
                            <lable style="color:white;
                            font-family:sans-serif;"> Qualification</lable>&nbsp&nbsp&nbsp&nbsp
                            <select>
                                <option>12th pass</option>
                                <option>Under-graduate</option>
                                <option>Post-graduate</option>
                                <option>Graduate</option>
                            </select><br><br>
                        </div>
                    </div>


                    <div class="row offset-4 hola">
                        <div class="col-md-6">
                            <lable> I argree with all the policies of Sheridan</lable>
                            <input type="checkbox" required><br><br>
                        </div>
                    </div>

                    <div class="row offset-4 hola">
                        <div class="col-md-6">
                            <lable>Feedback</lable>
                            <textarea class="form-control" id="feedback" name="feedback"></textarea><br>
                        </div>
                    </div>

                    <div class="row offset-4 hola">
                        <div class="col-md-3 text-center">
                            <button class="btn btn-danger p-2 ">Submit</button>
                        </div>
                        <div class="col-md-3 text-center">
                            <button class="btn btn-danger p-2">Reset</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <br><br>


    <div class="row bg-dark text-light text-center  p-3">

        <div class="col-md-3">
            <div class="col-md-12">
                <h2>SHERIDAN</h2>
                <p>Through a combination of lectures, readings, discussions, students will gain solid foundation in
                    educational.</p>
            <div class="row">
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <a href="https://www.instagram.com/"  class="nav-link hash "><i class="bi bi-instagram" style="font-size:50px;"></i></a>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-12">
                                <a href="https://www.facebook.com/login/" class="nav-link hash "> <i
                                        class="fa fa-facebook-square square" aria-hidden="true"></i></a>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="col-md-12">
                                <a href="https://youtu.be/c4PMYlxT0lY?si=czcI63K_pCxfNmkn"  class="nav-link hash "><i class="bi bi-youtube" style="font-size:50px;"></i>
                                </a>                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox" class="nav-link hash " ><i class="bi bi-envelope-arrow-up" style="font-size:50px;"></i></a>
                            </div>
                        </div>
                    </div>
                    </div>
        </div>


        <div class="col-md-3">
            <div class="col-md-12 foot">

                <h2>Useful Links</h2>
                <li>About Sheridan</li>
                <li>Contact</li>
                <li>Help Center</li>
                <li>Refund</li>
                <li>Conditions</li>
                <li>Privacy Policy</li>
            </div>
        </div>


        <div class="col-md-3">
            <div class="col-md-12 rover">
                <h2>Categories</h2>
                <li>Design Skills</li>
                <li>Development</li>
                <li>Marketing</li>
                <li>Finance & Accounting</li>
                <li>IT & Software</li>
                <li>Sales Marketing</li>

            </div>
        </div>



        <div class="col-md-3">
            <div class="col-md-12">
                <h2>Newsletter</h2>
                <p>Sign up for our newsletter and get 34%
                    off your next course.</p>
              
                    <input type="email" class="form-control" placeholder="Enter Your Email*" required><br>
                    <button style="text-align:center ;" class="btn btn-danger">Subscribe</button>
                    <br>

                    <input type="checkbox"> I agree to the terms and policies
                
            </div>
        </div>
        <hr>
        <p>Copyright@August2023 All rights reserved by HKB</p>
    </div>
    </div>
</body>

</html>